@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Roboto',sans-serif;
    
}

nav ul{
    display:flex;
    align-items:center;
    list-style-type:none;
    height: 65px;
    background-color: black;
    color:aliceblue;
}

nav ul li{
    padding: 0px 12px;
}

.brand img{
    width: 40px;
    padding: 0px 5px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size:1.3rem;
}




.container {
    min-height:70vh;
    background-color:black;
    color:white;
    width:80%;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 20px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url(bg.jpg);
}




.bottom{
    position:sticky;
    bottom: 0;
    background-color: black;
    color: white;
    height: 100px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.icons {
    margin-top: 10px;
}

.icons i {
    cursor:pointer;
}

#myProgressBar {
    width: 80vw;
    /* text-align: center; */
}